/** 
    _inofix_portlets.scss: configure Inofix' portlets for the inofix-theme

    Created:    2017-07-21 12:13 by Christian Berndt
    Modified:   2017-10-11 22:24 by Christian Berndt
    Version:    1.1.6
*/

.management-bar-header-right {
    .lfr-icon-item {
        display: block;
        padding-bottom: 15px; 
        padding-top: 15px;
    }
}

.portlet-bibliography-manager {
    margin-bottom: 70px;
}

.portlet-contact-manager {
         
    .btn-bottom-right {
        bottom: auto;
        top: 10px;
        padding: 7px;
        position: absolute;
        right: 15px;
    }
    
    .collapse-basic-search {
        .basic-search {
            right: 47px;
        }
    } 

    .contact-search {
        .clear-message {
            display: inline-block;
            padding-bottom: 13px !important;
            padding-top: 15px !important;
        }
    }
    
    .display-style-descriptive {
        .list-group-item {
            .list-group-item-field, 
            .list-group-item-content {
                border-left-color: transparent;
                border-right-color: transparent;
                border-top-color: transparent;
            }
        }
    }
}

.portlet-data-manager {
    
    .btn-bottom-right {
        bottom: auto;
        top: 10px;
        padding: 7px;
        position: absolute;
        right: 15px;
    }
}

.portlet-newsletter {
    
    .btn-bottom-right {
        bottom: auto;
        top: 10px;
        padding: 7px;
        position: absolute;
        right: 15px;
    }
    
    .card-horizontal {
    
        border: none; 
        
        .panel-body {
            padding: 0; 
        }
    }
    
    .collapse-basic-search {
        .basic-search {
            left: auto;
            position: absolute;
            right: 47px;
        }
    }
}

.portlet-timetracker {
         
    .btn-bottom-right {
        bottom: auto;
        top: 10px;
        padding: 7px;
        position: absolute;
        right: 15px;
    }
    
    .card-horizontal {
    
        border: none; 
        
        .panel-body {
            padding: 0; 
        }
    }
    
    .collapse-basic-search {
        .basic-search {
            right: 47px;
        }
    }
    
    .lfr-form-content {
        margin-top: 20px;
    }
    
    .lfr-from-date-column {
        white-space: nowrap;
    }
    
    .lfr-until-date-column {
        white-space: nowrap;
    }
    
    .main-content-body {
        margin-top: 0;
    }
    
    .management-bar {
        margin-bottom: 20px; 
    }
    
    .taglib-search-toggle-advanced-wrapper {
        .taglib-search-toggle-advanced {
            border: none;
        }
    }
    
    .task-record-search {
    
        .clear-message {
            display: inline-block;
            padding-bottom: 13px !important;
            padding-top: 15px !important;
        }
    }
}

.taglib-empty-result-message {
    .taglib-empty-search-result-message-header {
        display: none; 
    }
}
    