/** 
    _inofix_portlets.scss: configure Inofix' portlets for the inofix-theme

    Created:    2017-07-21 12:13 by Christian Berndt
    Modified:   2017-09-10 17:23 by Christian Berndt
    Version:    1.0.8
*/

.portlet-contact-manager {
         
    .btn-bottom-right {
        bottom: auto;
        top: 10px;
        padding: 7px;
        position: absolute;
        right: 15px;
    }
    
    .collapse-basic-search {
        .basic-search {
            right: 47px;
        }
    } 

    .contact-search {
        .clear-message {
            display: inline-block;
            padding-bottom: 13px;
            padding-top: 13px;
        }
    } 
}

.portlet-newsletter {
    
    .btn-bottom-right {
        bottom: auto;
        top: 10px;
        padding: 7px;
        position: absolute;
        right: 15px;
    }
    
    .collapse-basic-search {
        right: 47px;
    }
}

.portlet-timetracker {
         
    .btn-bottom-right {
        bottom: auto;
        top: 10px;
        padding: 7px;
        position: absolute;
        right: 15px;
    }
    
    .card-horizontal {
    
        border: none; 
        
        .panel-body {
            padding: 0; 
        }
    }
    
    .collapse-basic-search {
        .basic-search {
            right: 47px;
        }
    }
    
    .lfr-from-date-column {
        white-space: nowrap;
    }
    
    .lfr-until-date-column {
        white-space: nowrap;
    }
    
    .main-content-body {
        margin-top: 0;
    }
    
    .management-bar {
        margin-bottom: 20px; 
    }
    
    .taglib-empty-result-message {
        .taglib-empty-search-result-message-header {
            display: none; 
        }
    }
    
    .taglib-search-toggle-advanced-wrapper {
        .taglib-search-toggle-advanced {
            border: none;
        }
    }
    
    .task-record-search {
    
        .clear-message {
            display: inline-block;
            line-height: 20px;
            padding-bottom: 14px;
            padding-top: 15px;
        }
    }
}