/** 
    _navigation.scss: inofix theme's navigation 

    Created:    2017-03-05 23:08 by Christian Berndt
    Modified:   2017-08-07 19:17 by Christian Berndt
    Version:    1.0.1
*/

@import "variables";

#navigation {
    
    background: #fff;
    border-radius: 0;
    color: #333; 
    font-size: 16px;
    margin-bottom: 0;
    text-align: center;
    
    .btn-my-account {
    
        letter-spacing: normal;
        text-transform: none;
        
        color: #fff;
        margin-bottom: 14px;
        margin-top: 14px;
        padding-top: 12px !important; 
        padding-bottom: 12px !important;
        
        &:hover {
            background-color: #31b0d5;
        }
    }
    
    .container {
    
        padding-left: 0; 
        padding-right: 0; 
        
        > .navbar-header {
        
            margin-left: 0; 
            margin-right: 0; 
        }
    }
    
    .dropdown {
    
        a {
            display: inline-block;
            
            &:nth-child(1) {
                padding-right: 0; 
            }
            
            &:nth-child(2) {
                margin-left: -7px;
                padding-left: 7px; 
            }
        }
        
        .dropdown-menu {
        
            left: 0 !important; 
            right: auto !important; 
            
            li > a {
            
                display: block; 
                margin-right: 0; 
                padding: 5px 20px;
                
                &:hover {
                    background-color: $color-lightgray;
                    color: black;
                }
            }
        }
        
        &.active.open, 
        &.open {
            > a {
                background-color: $color-lightgray;
            }
        }
    }
    
    .icon-home {
        font-size: 24px;
    }
    
    .navbar-brand {
    
        color: #333;   
        padding-top: 12px; 
        padding-bottom: 12px;
    
        .brand-name {
            font-size: 18px;
            font-weight: 600; 
            letter-spacing: 0.1em;
            text-transform: uppercase;
            vertical-align: middle;
        }
        
        > img {
            display: inline-block;
            height: 40px;
            margin-right: 10px         
        }  
    }

    .navbar-nav {
    
        letter-spacing: 0.15em;
        margin: 0;
        text-transform: uppercase; 
    
        > li {
        
            margin-left: -15px;
            margin-right: -15px;
            border-bottom: 1px solid $color-lightgray;
                
            > a {
                padding-bottom: 28px;
                padding-top: 28px;
            }
            
            &.active {
                        
                a {
                    background: transparent;
                    color: $color-black;
                }
            }
            
            &:nth-child(1) {
                display: none;
            }
        }
        
        &.my-account {
            > li {
                 &:nth-child(1) {
                    display: inline-block;
                }           
            }
        }
    }
    
    .navbar-toggle {
        border: 0;
        margin: 15px 6px 18px;
    }
    
    .portlet-language {
    
        .portlet-content-editable {
            border-width: 0; 
        }
    
        .portlet-body {

            a {
            
                color: #777;
                
                &.dropdown-toggle {
                    cursor: pointer;    
                    display: inline-block;                            
                    padding-bottom: 25px;
                    padding-top: 28px; 
                }
            }
            
            .dropdown-menu {
            
                background-color: #fff; 
                border-top-right-radius: 0;
                border-top-left-radius: 0;
                margin-top: 0;
    
                min-width: 120px;
                
                li {
                
                    text-align: center;
                    
                    span {
                        display: block; 
                        padding: 3px 20px; 
                    } 
                    
                    > a {
                        padding: 5px;
                    }  
                }             
            }
            
            .dropdown-toggle {
            
                padding-left: 15px; 
                padding-right: 15px;
                
                &:nth-child(1) {
                    padding-right: 7.5px;           
                } 
                
                &:nth-child(2) {
                    margin-left: -7.5px; 
                    padding-left: 0;           
                } 
            }        
        
            > span {
                display: block; 
                
                &.open {
                    background-color: #eeeeee;
                }
            }
        }
    }
    
    .search-form {
    
        display: inline-block;
        
        .portlet-search {
        
            display: inline; 
              
            div,form,section {
                display: inline; 
            }
            
            fieldset {
                margin-top: 5px; 
            }
            
            .form-control {
                display: inline;
                width: auto; 
            }
            
            .icon-monospaced a {
                color: #333;
            }
            
            .portlet-topper {
                
                float: right;            
                right: -190px; 
                top: 25px;
                
                .portlet-title-default {
                    display: none; 
                }
            }
        }    
    }
}
