/** 
    _responsive.scss: responsiveness for the inofix-theme 

    Created:    2017-06-28 13:30 by Christian Berndt
    Modified:   2017-11-06 18:34 by Christian Berndt
    Version:    0.4.2
*/

@mixin keyvisual($billboard-color) {
    
    background-position: 0px 0px;
    background-image: linear-gradient(to bottom, 
        $billboard-color 0px,     
        $billboard-color 400px,  
        $color-white 400px,   
        $color-white 100% 
    ); 
    
    .keyvisual {

        .image-wrapper {
        
            background-image: none; 

        }            
    }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 420px) {
    
    .teaser {
        .image-wrapper {
        
            padding: 15px;
        
            img {
                max-width: 100%;
            }
        }
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    .abstracts {
        p {
            margin-left: auto;
            margin-right: auto; 
            max-width: 400px;
        }
    }

    .billboard {
    
        .claim {
            h1 {
                font-size: 36px;           
            }
        }
        
        .col-md-6 {
        
            position: relative;
            
            &:nth-child(1) {
                padding: 60px 15px 30px; 
            }
            
            &:nth-child(2) {
                padding: 30px 15px 60px; 
            }    
        }
        
        .container {
            width: 100%;
        }
        
        .text-only {
            &.col-md-6 {
                padding: 60px 15px;
            }
        }
        
        &.format-blowing {
        
            .keyvisual {
            
                max-width: none; 
        
                .image-wrapper {
                    
                    margin-left: -15px;
                    margin-right: -15px;
                    padding-left: 15px;
                    padding-right: 15px;
                    text-align: center;
                        
                    text-align: center;
                    
                    img {
                        max-width: 600px;               
                    }  
                }            
            }     
        }
    }
          
    .columns-2 {
        margin-left: auto; 
        margin-right: auto; 
        width: 750px; /* bs3 .container */
    } 
    
    #footer {
    
        .col-sm-4 {
            &:nth-child(1) {
                padding-top: 30px; 
                text-align: left; 
            }
            &:nth-child(3) {
                padding-top: 30px; 
                text-align: right; 
            }
        }
        
        .portlet-navigation {
                
            margin-left: -30px; 
            margin-right: -30px;
            text-align: left;
        }
        
        .row {
            margin-left: 0; 
            margin-right: 0; 
        }
        
    }
        
    h1 {
        font-size: 36px; 
    }
    
    .logos {
    
        h1, h2, h3, h4 {
            margin-left: auto; 
            margin-right: auto;
            max-width: 600px; 
        }
        
        .logo {
            max-width: 100% ! important;
        }
        
        .logo-wrapper {
            min-height: 187.5px;
        }
        
        .logos-bar {
            margin-left: auto; 
            margin-right: auto;
            max-width: 660px;
        }
    }
    
    #navigation {
    
        .container {
            padding-left: 15px; 
            padding-right: 15px;         
        }
    
        .navbar-brand {
        
            padding-top: 12px; 
            padding-bottom: 12px;
            
            > img {
                display: inline-block;
                height: 50px;
                margin-right: 10px         
            }  
        }
        
        .navbar-nav {
        
            padding: 0; 
        
            > li {
            
                margin-left: 0;
                margin-right: 0;
                border-bottom: none; 
            }
        } 
    }
    
    .portlet-contact-manager,
    .portlet-timetracker {
         
        .collapse-basic-search {
        
            .basic-search {
            
                margin-right: 47px;
                
                .form-control {
                    padding: 5px 12px;
                }
                
                input[type="text"] {
                    font-size: 16px;
                }
            }
        } 
    }
    
    .teaser {
    
        .image-wrapper {
        
            img {
                max-width: 500px;
            }
        }
        
        .text-wrapper {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            width: 600px;
            
            .btn {
                margin-top: 10px;
            }
        }
    }
    
    .testimonials {
    
        .icon-wrapper {
        
            margin-top: 30px;
            
            .icon {
                font-size: 15vw;
                height: 25vw;
                width: 25vw;
            }
        }
    
        img {
            margin-top: 30px;
            width: 33.3333%;
        }    
    } 
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
    
    .article {
    
        .toc {
            display: block;
            margin-top: 65px; 
            width: 212.5px;           
                    
            &.affix {
                margin-top: 0; 
            }
        }
    }
 
    .billboard {
    
        .col-md-6 {
            &:nth-child(1),
            &:nth-child(2) {
                min-height: 400px;
            }
        }
        
        .claim {
            left: 15px;
            margin-right: auto;
            margin-left: auto;
            max-width: 600px;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);        
        }
        
        .container {
            width: 970px;
        }
        
        .keyvisual {
                
            left: 15px;
            margin-right: auto;
            margin-left: auto;
            max-width: 600px;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            
            .caption {
                display: none;
            }        
        }
        
        &.format-blowing {
            
            background-position: 0px 0px;
            background-image: linear-gradient(to bottom, 
                $color-darkgray 0px,     
                $color-darkgray 300px,  
                $color-white 300px,   
                $color-white 100% 
            ); 
        
            padding-bottom: 60px;
        
            .keyvisual {

                .image-wrapper {
                
                    background-image: none; 
                                    
                    img {
                        max-width: 100%;               
                    }  
                }            
            }
            
            .row {
            
                position: relative; 
                
                .col-md-6 {
                
                    &:nth-child(2) {
                        position: absolute; 
                        right: 0; 
                        top: 170px;
                        z-index: 50;                    
                    }
                }
            }
            
            &.blue {
            
                @include keyvisual($color-blue);            
    
            }
            
            &.darkblue {
            
                @include keyvisual($color-darkblue);            
    
            }
            
            &.gray {
            
                @include keyvisual($color-gray);            
    
            }
            
            &.lightgray {
            
                @include keyvisual($color-lightgray);            
    
            }
            
            &.red {
            
                @include keyvisual(red);            
    
            }
        }
    }
    
    .columns-2 { 
        width: 970px; /* bs3 container */
    }
    
    .logos {
    
        h4 {
            line-height: 130%;
            margin-left: auto; 
            margin-right: auto;
            max-width: 800px;
        }
        
        .logos-bar {
            max-width: 100%;
        }
    }
    
    #navigation {
    
        .btn-my-account {
        
            margin-bottom: 14px;
            margin-left: 15px;
            margin-top: 14px;
            padding-top: 12px !important; 
            padding-bottom: 12px !important;            
        }
    }
    
    .portlet-contact-manager,
    .portlet-timetracker {
         
        .collapse-basic-search {
        
            .basic-search {
                
                input[type="text"] {
                    font-size: 14px;
                }
            }
        } 
    }
    
    .teaser {
    
        .col-md-6 {
            min-height: 450px;
        }
            
        .image-wrapper {
        
            img {
                max-width: 400px;
            }
        }
    
        .text-wrapper {
            width: 400px; 
        } 
            
        &.teaser-left {
        
            .col-md-6 {
                float: right;
            }
        }
    } 
    
    .testimonials {
    
        blockquote {
            padding-left: 40px; 
        }
        
        .icon-wrapper {
        
            margin-top: 60px;
        
            .icon {
                font-size: 70px;
                height: 120px;
                width: 120px;
            }
        }
    
        img {
        
            margin-top: 60px;        
            width: 120px;
        }    
    } 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    
    .article {
    
        .toc {
            width: 262.5px;
        }
    }
        
    .billboard {
    
        .container {
            width: 1170px;
        }
        
        &.format-blowing {
        
            padding-bottom: 100px;
                                       
            .col-md-6 {
                &:nth-child(2) {
                    top: 150px;
                }
            } 
        }
    } 
    
    .columns-2 { 
        width: 1170px; /* bs3 container */
    } 
    
    .teaser {
    
        .image-wrapper {
        
            img {
                max-width: 500px;
            }
        }
    }
    
    .testimonials {
    
        blockquote {
            padding-left: 60px; 
        }
    }
}
