/** 
    _variables.scss: common variables of the inofix-theme

    Created:    2017-07-05 23:33 by Christian Berndt
    Modified:   2017-07-09 20:01 by Christian Berndt
    Version:    1.0.3
*/

/** ------------- colors ------------- */

$color-black: #333;
$color-blue: #1f57a4;
$color-darkblue: #1d3458;
$color-darkgray: #272727;
$color-darkred:  #aa231f;
$color-gray: #777677;
$color-lightgray: #eaeaea;
$color-red: #e62325;
$color-red: #eb0000;
$color-white: #fcfcfc;