/** 
    _core_portlets.scss: adjust Liferay's core portlets for the inofix-theme

    Created:    2017-03-05 23:20 by Christian Berndt
    Modified:   2017-07-01  by Christian Berndt
    Version:    0.1.4
*/

.hide-topper {
    
    .portlet {
        
        &:hover {
            > .portlet-topper {
                display: none; 
            }
        }
    }
}

/** ----------------------------------- General settings ---- */
.portlet {
    
    h2.portlet-title-text {
        display: none; 
    }
    
    .portlet-content {
        padding: 0;
    }
}


/** ------------------------- Maximized portlet settings ---- */
.portlet-column-only {
    .portlet-search {
        margin-bottom: 70px;
    }
}

/** -------------------------- Portlet specific settings ---- */
.portlet-activities {
    
    padding-bottom: 70px;
        
    .nav-tabs-default {
    
        border-bottom: 1px solid #ddd; 
        
        li {

            > a {
                border-color: transparent transparent #ddd transparent;
                border-radius: 4px 4px 0 0;           
                border-width: 1px 1px 1px 1px;   
                margin-right: 2px;     
            }
            
            &.active,
            &:focus {
            
                &:first-child > a {
                    border-left-color: #ddd;  
                }
            
                > a {
                    border-color: #ddd #ddd transparent #ddd; 
                    border-width: 1px 1px 1px 1px;        
                }
            }
        }
    }
  
/*     > li.active > a,  */
/*     > li.active > a:hover,  */
/*     > li.active > a:focus { */
/*         color: #555555; */
/*         background-color: #fff; */
/*         border: 1px solid #ddd; */
/*         border-bottom-color: transparent; */
/*         cursor: default; */
/*     } */
    
    .taglib-social-activities {
        .pull-right { /* RSS-Link */
            position: absolute; 
            bottom: -30px; 
            right: 0; 
        }
    }
    
    .user-name {
        font-weight: 600;
    }
}

.portlet-document-library {
        
    .search-container-dd-toggle {
        &.checkbox {
            margin-bottom: 20px;
            margin-left: 15px;
        }
    }
}

.portlet-login {
    
    margin-top: 30px;
    
    .btn {
        font-size: 14px; /* bs .btn */
        padding: 6px 12px; /* bs .btn */
        width: 100%;
    } 
    
    h2.portlet-title-text {
        
        background-color: #f5f5f5; /* bs .panel-heading */
        border-color: #ddd; /* bs .panel-heading */
        border-bottom: 1px solid #ddd; 
        border-top-right-radius: 3px; /* bs .panel-heading */
        border-top-left-radius: 3px; /* bs .panel-heading */         
        color: #333333; /* bs .panel-heading */
        display: block; 
        font-size: 14px; 
        font-weight: 600; 
        max-width: none;
        
        padding: 10px 15px; /* bs .panel-heading */   
    }
    
    .icon-monospaced {
        display: none; 
    }
    
    input[type="checkbox"] {
        margin-right: 5px;
    }
    
    .input-checkbox-wrapper {
        margin-bottom: 5px;
    }
    
    .portlet {
        text-align: center;
    }
    
    .portlet-content {
        
        border-color: #ddd; /* bs .panel-default */
        border-radius: 4px; /* bs .panel */
        border-style: solid; 
        border-width: 1px 1px 1px 1px ! important; /* bs .panel */
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); /* bs .panel */
    
        display: inline-block;
        margin-bottom: 70px;
        text-align: left; 
        width: 370px;
        
        .portlet-body {
            padding: 15px; /*  bs .panel-body */        
        }
    }
    
    .portlet-icon-back .icon-angle-left {
        display: none; 
    }
}

.portlet-search {
    
    a.icon-monospaced.portlet-icon-back {
        display: none;
    }
    
    .form-control {
        width: 264px;
    }
    
    .input-text-wrapper {
        margin-right: 28px; 
    }
    
    .lfr-ddm-field-group {
        margin-bottom: 15px; 
    }
    
    .main-content-body {
        margin-top: 0; 
   }
    
    .menu-column {
        margin-top: 20px; 
    }
    
    .panel-title {
        font-weight: 600; 
    }
}
