/** 
    _custom.scss: main config of the inofix-theme

    Created:    2017-03-05 23:20 by Christian Berndt
    Modified:   2017-06-30 16:42 by Christian Berndt
    Version:    0.2.6
*/

/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
/* @import "portlet_decorator"; */

@import "core_portlets";
@import "navigation";


/** Global settings */
$color-lightgray: #f3f5f4;


a {
    &:active,
    &:focus {
        outline-color: transparent;
    }
}

.abstracts {
    
    margin-bottom: -15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -15px;
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
    
    
    .common-link {
        margin-top: 30px;
    }

    h3 {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.1em;
        margin-bottom: 20px;
        margin-top: 30px;
        text-transform: uppercase;
    }
    
    p {
        font-size: 16px;
        line-height: 150%;
        text-align: left;
    }
    
    &.lightgray {
        background-color: $color-lightgray;
    }
    
    &.red {
        background-color: red;
        color: white;
        font-weight: 600;
        
        .btn-info {
            background-color: white;
            border-color: white;
            color: red;
            
            &:hover {
                background-color: darken(white, 5%);          
                color: darken(red, 5%);          
            }
        }
    }
}

.alert {
    padding: 10px 15px;   
}

.alert-dismissable {
    .close {
        right: 0; 
    }
}

.billboard {
    
    margin-left: -15px;
    margin-right: -15px;
    min-height: 50vh;
     
    .caption-wrapper {
    
        background-color: $color-lightgray;
        
        .caption {
            margin-top: 11vh;
            text-align: center;
        }
    }
    
    .claim {
   
        padding: 40px 0;
    
        h1 {
            color: #fff;
            font-size: 36px; 
            font-weight: 600; 
            line-height: 130%;
            margin-top: 0; 
            margin-bottom: 0; 
        }   
    }
    
    .image-wrapper {
    
        background-color: #4d4d4d;
        
        img {
            margin-bottom: -10vh;
        }
   
    }
    
    .text-only {    
        text-align: center;
    }
    
    .text-wrapper {
        background-color: #4d4d4d;
        text-align: center;         
    }

}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; 
}

.btn {
    font-weight: 600; 
}

.container-fluid {
    .billboard {
        margin-top: -2em; 
    }
}

.field-help {
    &:hover {
        cursor: help; 
        text-decoration: none; 
    }
}

#footer {
    
    background: #fff;
    border-top: 1px solid $color-lightgray;
    color: #333;
    
    a {
        color: #333;
        
        &:hover {
            color: darken(#333, 20%);
            text-decoration: none; 
        }
    }
    
    .container {
        padding: 20px 15px;
    }
}

label {
    font-weight: 600; 
}

.list-group-card {
    
    .splitter {
        font-weight: 600; 
        border: 1px solid #ddd;
        box-shadow: none;
    }
}

.lfr-search-container {
    
    .lfr-pagination {
    
        .lfr-pagination-config {
            line-height: 1;
        }
        
        .search-results {
            line-height: 32px;
        }
        
        .btn, .pager {
            font-size: 12px; /** bs btn-sm */
            line-height: 1.5; /** bs btn-sm */
        }
    }
}

.pagehead {
    
    background-color: #f2f2f2;
    border-bottom: 1px solid #e7e7e7;
    
    a {
        color: #777;
        
        &:hover {
            color: #333;
            text-decoration: none; 
        }
    }
    
    h3 {
        margin-bottom: 25px;
    }
    
    ul.nav {
    
        position: relative; 
        top: 1px;
        
        li {
        
            > a {
            
                border: solid transparent;
                border-width: 3px 1px 1px;
                border-radius: 3px 3px 0 0;
                padding: 10px 20px;
            
                &:hover {
                    background-color: transparent;               
                }
            }
        
            &.active {
            
                margin-bottom: -1px;
            
                > a {
                    background-color: white;
                    border-color: #555 #e7e7e7 transparent;
                    color: #333;                 
                }
            }
        }
    }

}

.panel {
        
    .btn-group {
        .btn {
            margin-top: 2px;
            padding: 3px 7px;         
        }
    }
}

.portlet-decorate {
    .portlet-content {
        border-width: 0; 
    }
}

.signed-in {
    
    #navigation {
        margin-top: 64px;
    }
}

strong {
    font-weight: 600; 
}

.taglib-asset-tags-summary {
    .badge {
    
        background-color: #d8d8d8;
        color: #333;
        font-weight: 600;
        
        &.badge-sm {
            font-size: 12px;
            padding-bottom: 5px;
            padding-right: 10px;
            padding-left: 10px; 
            padding-top: 4px;
        }
    }
}

.taglib-empty-result-message {
    .taglib-empty-result-message-header {
        display: none;
    }   
}

.taglib-social-activities {
    ul.list-group-card {
        margin-bottom: 20px; /* bs .panel */
    }
}

#wrapper {
    
    margin-top: 0 !important;
    
}

/**
 * hide primefaces / jQuery ui artefacts 
 */
.ui-helper-hidden {
    display: none; 
}

body {
    > .ui-tooltip {
        display: none;
    }
}
 
 
@import "responsive";
 