/** 
    _custom.scss: main config of the inofix-theme

    Created:    2017-03-05 23:20 by Christian Berndt
    Modified:   2017-03-05 23:20 by Christian Berndt
    Version:    0.1.0
*/

/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
/* @import "portlet_decorator"; */

@import "core_portlets";
@import "navigation";


/** Global settings */
$color-lightgray: #f5f5f5;

.alert {
    padding: 10px 15px;   
}

a {
    &:active,
    &:focus {
        outline-color: transparent;
    }
}

body {
    font-family: 'Open Sans', sans-serif;  
}

.btn {
    font-weight: 600; 
}

.field-help {
    &:hover {
        cursor: help; 
        text-decoration: none; 
    }
}

#footer {
    
    background: #29343D;
    color: $color-lightgray;
    margin-top: 70px;
    
    a {
        color: $color-lightgray;
        
        &:hover {
            color: darken($color-lightgray, 20%);
            text-decoration: none; 
        }
    }
    
    .container {
        padding: 15px;
    }
}

label {
    font-weight: 600; 
}

/** Liferay Components */
.list-group-card {
    
    .splitter {
        font-weight: 600; 
        border: 1px solid #ddd;
        box-shadow: none;
    }
}

.lfr-search-container {
    
    .lfr-pagination {
    
        .lfr-pagination-config {
            line-height: 1;
        }
        
        .search-results {
            line-height: 32px;
        }
        
        .btn, .pager {
            font-size: 12px; /** bs btn-sm */
            line-height: 1.5; /** bs btn-sm */
        }
    }
}

.panel {
        
    .btn-group {
        .btn {
            margin-top: 2px;
            padding: 3px 7px;         
        }
    }
}

.poster {
    
    background-size: cover;
    color: white;
    height: 70vh;
    padding-top: 70px;
    
    .jumbotron {
    
        background-color: rgba(0,0,0,.75);
        padding: 30px; 
        
        h1 {
            font-size: 44px;
            margin-top: 0; 
        }
    }
}

.signed-in {
    
    #navigation {
        margin-top: 64px;
    }
}

strong {
    font-weight: 600; 
}

.taglib-asset-tags-summary {
    .badge {
    
        background-color: #d8d8d8;
        color: #333;
        font-weight: 600;
        
        &.badge-sm {
            font-size: 12px;
            padding-bottom: 5px;
            padding-right: 10px;
            padding-left: 10px; 
            padding-top: 4px;
        }
    }
}

.taglib-social-activities {
    ul.list-group-card {
        margin-bottom: 20px; /* bs .panel */
    }
}

#wrapper {
    margin-top: 0 !important;
}

/**
 * hide primefaces / jQuery ui artefacts 
 */
.ui-helper-hidden {
    display: none; 
}

body {
    > .ui-tooltip {
        display: none;
    }
}
 