/** 
    _custom.scss: main config of the inofix-theme

    Created:    2017-03-05 23:20 by Christian Berndt
    Modified:   2017-06-27 18:17 by Christian Berndt
    Version:    0.1.8
*/

/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
/* @import "portlet_decorator"; */

@import "core_portlets";
@import "navigation";


/** Global settings */
$color-lightgray: #f5f5f5;

.alert {
    padding: 10px 15px;   
}

a {
    &:active,
    &:focus {
        outline-color: transparent;
    }
}

.abstracts {
    
    padding-bottom: 60px;
    padding-top: 60px;
    
    h1 {
        font-weight: 600; 
        padding: 0 200px 30px;
        text-align: center;
    }
    
    h3 {
        font-weight: 600; 
    }
    
    &.lightgray {
        background-color: #f3f5f4;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; 
}

.btn {
    font-weight: 600; 
}

.field-help {
    &:hover {
        cursor: help; 
        text-decoration: none; 
    }
}

#footer {
    
    background: #fff;
    border-top: 1px solid $color-lightgray;
    color: #333;
    margin-top: 70px;
    
    a {
        color: #333;
        
        &:hover {
            color: darken(#333, 20%);
            text-decoration: none; 
        }
    }
    
    .container {
        padding: 15px 15px 20px;
    }
}

label {
    font-weight: 600; 
}

/** Liferay Components */
.list-group-card {
    
    .splitter {
        font-weight: 600; 
        border: 1px solid #ddd;
        box-shadow: none;
    }
}

.lfr-search-container {
    
    .lfr-pagination {
    
        .lfr-pagination-config {
            line-height: 1;
        }
        
        .search-results {
            line-height: 32px;
        }
        
        .btn, .pager {
            font-size: 12px; /** bs btn-sm */
            line-height: 1.5; /** bs btn-sm */
        }
    }
}

.pagehead {
    
    background-color: #f2f2f2;
    border-bottom: 1px solid e7e7e7;
    
    a {
        color: #777;
        
        &:hover {
            color: #333;
            text-decoration: none; 
        }
    }
    
    ul {
    
        padding-top: 50px;
    
        li {
        
            > a {
                &:hover {
                    background-color: transparent;               
                }
            }
        
            &.active {
            
                margin-bottom: -1px;
            
                > a {
                    background-color: white;
                    color: #333;                 
                }
            }
        }
    }

}

.panel {
        
    .btn-group {
        .btn {
            margin-top: 2px;
            padding: 3px 7px;         
        }
    }
}

.portlet-decorate {
    .portlet-content {
        border-width: 0; 
    }
}

.poster {
    
    background-size: cover;
    color: white;
    height: 70vh;
    padding-top: 70px;
    
    .jumbotron {
    
        background-color: rgba(0,0,0,.75);
        padding: 30px; 
        
        h1 {
            font-size: 44px;
            margin-top: 0; 
        }
    }
}

.signed-in {
    
    #navigation {
        margin-top: 64px;
    }
}

strong {
    font-weight: 600; 
}

.taglib-asset-tags-summary {
    .badge {
    
        background-color: #d8d8d8;
        color: #333;
        font-weight: 600;
        
        &.badge-sm {
            font-size: 12px;
            padding-bottom: 5px;
            padding-right: 10px;
            padding-left: 10px; 
            padding-top: 4px;
        }
    }
}

.taglib-empty-result-message {
    .taglib-empty-result-message-header {
        display: none;
    }   
}

.taglib-social-activities {
    ul.list-group-card {
        margin-bottom: 20px; /* bs .panel */
    }
}

#wrapper {
    margin-top: 0 !important;
}

/**
 * hide primefaces / jQuery ui artefacts 
 */
.ui-helper-hidden {
    display: none; 
}

body {
    > .ui-tooltip {
        display: none;
    }
}
 