/** 
    _custom.scss: main config of the inofix-theme

    Created:    2017-03-05 23:20 by Christian Berndt
    Modified:   2017-07-05 17:25 by Christian Berndt
    Version:    0.3.5
*/

/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
/* @import "portlet_decorator"; */

@import "core_portlets";
@import "navigation";
@import "templates";


/** Global settings */
$color-darkgray: #333;
$color-lightgray: #f2f2f2;

a {
    &:active,
    &:focus {
        outline-color: transparent;
    }
}

.alert {
    padding: 10px 15px;   
}

.alert-dismissable {
    .close {
        right: 0; 
    }
}

.below-billboard {
    margin-top: -60px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px; 
}

.btn {
    font-weight: 600; 
}

.button-holder {
    .btn-lg {
        font-size: 14px;
        padding: 6px 12px;
    }
}

.container-fluid {
    .billboard {
        margin-top: -2em; 
    }
}

.control-menu {
    .toggle-controls {
        &.visible-xs {
            display: inline-block ! important;
        }
    }
}

.field-help {
    &:hover {
        cursor: help; 
        text-decoration: none; 
    }
}

#footer {
    
    background: #fff;
    border-top: 1px solid $color-lightgray;
    color: #333;
    
    a {
        color: #333;
        
        &:hover {
            color: darken(#333, 20%);
            text-decoration: none; 
        }
    }
    
    .container {
        padding: 20px 15px;
    }
}

label {
    font-weight: 600; 
}

.list-group-card {
    
    .splitter {
        font-weight: 600; 
        border: 1px solid #ddd;
        box-shadow: none;
    }
}

.lfr-search-container {
    
    .lfr-pagination {
    
        .lfr-pagination-config {
            line-height: 1;
        }
        
        .search-results {
            line-height: 32px;
        }
        
        .btn, .pager {
            font-size: 12px; /** bs btn-sm */
            line-height: 1.5; /** bs btn-sm */
        }
    }
}

.pagehead {
    
    background-color: #f2f2f2;
    border-bottom: 1px solid #e7e7e7;
    
    a {
        color: #777;
        
        &:hover {
            color: #333;
            text-decoration: none; 
        }
    }
    
    h3 {
        margin-bottom: 25px;
    }
    
    .navbar-collapse {
        padding-left: 0; 
        padding-right: 0; 
    }
    
    ul.nav {
    
        position: relative; 
        top: 1px;
        
        li {
        
            > a {
            
                border: solid transparent;
                border-width: 3px 1px 1px;
                border-radius: 3px 3px 0 0;
                padding: 10px 20px;
            
                &:hover {
                    background-color: transparent;               
                }
            }
        
            &.active {
            
                margin-bottom: -1px;
            
                > a {
                    background-color: white;
                    border-color: #555 #e7e7e7 transparent;
                    color: #333;                 
                }
            }
        }
    }

}

.panel {
        
    .btn-group {
        .btn {
            margin-top: 2px;
            padding: 3px 7px;         
        }
    }
}

.portlet-decorate {
    .portlet-content {
        border-width: 0; 
    }
}

.portlet-contact-manager {
    
    margin-bottom: 30px;
     
    .btn-bottom-right {
        top: 10px;
        position: absolute;
        right: 15px;
    } 
    
    .collapse-basic-search {
        .basic-search {
            right: 47px;
        }
    }  
}

.portlet-timetracker {
    
    margin-bottom: 30px;
     
    .btn-bottom-right {
        top: 10px;
        position: absolute;
        right: 15px;
    }
    
    .card-horizontal {
    
        border: none; 
        
        .panel-body {
            padding: 0; 
        }
    }
    
    .collapse-basic-search {
        .basic-search {
            right: 47px;
        }
    }
}

.signed-in {
    
    #navigation {
        margin-top: 64px;
    }
}

strong {
    font-weight: 600; 
}

.taglib-asset-tags-summary {
    .badge {
    
        background-color: #d8d8d8;
        color: #333;
        font-weight: 600;
        
        &.badge-sm {
            font-size: 12px;
            padding-bottom: 5px;
            padding-right: 10px;
            padding-left: 10px; 
            padding-top: 4px;
        }
    }
}

.taglib-empty-result-message {
    .taglib-empty-result-message-header {
        display: none;
    }   
}

.taglib-social-activities {
    ul.list-group-card {
        margin-bottom: 20px; /* bs .panel */
    }
}

#wrapper {
    
    margin-top: 0 !important;
    
}

/**
 * hide primefaces / jQuery ui artefacts 
 */
.ui-helper-hidden {
    display: none; 
}

body {
    > .ui-tooltip {
        display: none;
    }
}
 
@import "responsive";
 