/** 
    _navigation.scss: inofix theme's navigation 

    Created:    2017-03-05 23:08 by Christian Berndt
    Modified:   2017-06-26 18:16 by Christian Berndt
    Version:    0.3.0
*/

/** Global settings */
$color-lightgray: #f5f5f5;

#navigation {
    
    background: #fff;
    border-radius: 0;
    color: #333; 
/*     font-size: 16px; */
    margin-bottom: 0;
    text-align: center;
    
    .account-actions {
    
        padding: 5px 15px 5px 0;
    
        a { 
        
            display: inline-block;
              
            &:hover {
                text-decoration: none;
            }
                
            .user-name {
            
                color: #333;
                
                &:hover {
                    text-decoration: none;
                    color: black;
                }         
            }
        }
    
        .btn {
            margin: 5px;
        }
        
        #sign-out {
            margin-left: 5px;
            color: #777; /* bs .text-muted */
            
            &:hover {
                color: #333;
            }
        }
        
        .user-name {
            display: block;
            font-weight: 600; 
            padding: 10px 0 10px;       
        }
    }
    
    #layout_1 {
        display: none; 
    }
    
    .navbar-brand {
    
        color: #333;   
        padding-top: 15px;    
    
        .brand-name {
            font-size: 18px;
            font-weight: normal; 
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
        
        > img {
            display: inline-block;
            height: 50px;
            margin-right: 10px         
        }  
    }
    
    .navbar-nav {
    
        letter-spacing: 0.15em;
        text-transform: uppercase; 
    
        > li {
        
            border-bottom: 3px solid transparent;
        
            > a {
                padding-bottom: 12px;
                padding-top: 17px;
            }
            
            &.active {
            
                border-bottom-color: #555;
            
                a {
                    background: transparent;
                }
            }
        }
    }
    
    .search-form {
    
        display: inline-block;
        
        .portlet-search {
        
            display: inline; 
              
            div,form,section {
                display: inline; 
            }
            
            fieldset {
                margin-top: 5px; 
            }
            
            .form-control {
                display: inline;
                width: auto; 
            }
            
            .icon-monospaced a {
                color: #333;
            }
            
            .portlet-topper {
                
                float: right;            
                right: -190px; 
                top: 25px;
                
                .portlet-title-default {
                    display: none; 
                }
            }
        }    
    }
}
