/** 
    _navigation.scss: inofix theme's navigation 

    Created:    2017-03-05 23:08 by Christian Berndt
    Modified:   2017-07-07 16:12 by Christian Berndt
    Version:    0.3.9
*/

@import "variables";

#navigation {
    
    background: #fff;
    border-radius: 0;
    color: #333; 
    font-size: 16px;
    margin-bottom: 0;
    text-align: center;
    
    .btn-my-account {
    
        letter-spacing: normal;
        text-transform: none;
        
        &.btn {
            color: #fff;
            margin-bottom: 14px;
            margin-top: 14px;
            padding-top: 12px; 
            padding-bottom: 12px;
            
            &:hover {
                background-color: #31b0d5;
            }
        }
    }
    
    #layout_1 {
        display: none; 
    }
    
    .my-account {
    
        display: none;   
    }
    
    .navbar-brand {
    
        color: #333;   
        padding-top: 15px;    
    
        .brand-name {
            font-size: 18px;
            font-weight: 600; 
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
        
        > img {
            display: inline-block;
            height: 50px;
            margin-right: 10px         
        }  
    }
    
    .navbar-nav {
    
        letter-spacing: 0.15em;
        text-transform: uppercase; 
    
        > li {
        
            margin-left: -15px;
            margin-right: -15px;
            border-bottom: 1px solid $color-lightgray;
                
            > a {
                padding-bottom: 28px;
                padding-top: 28px;
            }
            
            &.active {
                        
                a {
                    background: transparent;
                    color: #333;
                }
            }
        }
    }
    
    .navbar-toggle {
        border: 0;
        margin: 23px 6px;
    }
    
    .search-form {
    
        display: inline-block;
        
        .portlet-search {
        
            display: inline; 
              
            div,form,section {
                display: inline; 
            }
            
            fieldset {
                margin-top: 5px; 
            }
            
            .form-control {
                display: inline;
                width: auto; 
            }
            
            .icon-monospaced a {
                color: #333;
            }
            
            .portlet-topper {
                
                float: right;            
                right: -190px; 
                top: 25px;
                
                .portlet-title-default {
                    display: none; 
                }
            }
        }    
    }
}
