/** 
    _responsive.scss: responsiveness for the inofix-theme 

    Created:    2017-06-28 13:30 by Christian Berndt
    Modified:   2017-07-02 21:47 by Christian Berndt
    Version:    0.1.5
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .billboard {
        .image-wrapper { 
            
            text-align: center;
             
            img {
                width: 85%;  
            }    
        }
    }
    
    #navigation {
        .my-account {
            display: inline-block;
        }    
    }
    
    .portlet-contact-manager,
    .portlet-timetracker {
         
        .collapse-basic-search {
        
            .basic-search {
            
                margin-right: 47px;
                
                .form-control {
                    padding: 5px 12px;
                }
                
                input[type="text"] {
                    font-size: 16px;
                }
            }
        } 
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
 
    .billboard {
        .image-wrapper {    
            img {
                margin-top: -38vh;
                width: 100%; 
            }    
        }
        
        .text-only {
            h1 {
                margin-left: auto; 
                margin-right: auto;
                max-width: 75%;
                padding: 40px 0;    
            }  
        }
        
        .text-wrapper {
            text-align: left;         
        }
    }
    
    #navigation {
    
        .my-account {
    
            &.btn {
                margin-left: 15px;
            }
        }
    }
    
    .portlet-contact-manager,
    .portlet-timetracker {
    
        .btn-bottom-right {
            top: 8px;
        }
         
        .collapse-basic-search {
        
            .basic-search {
                
                input[type="text"] {
                    font-size: 14px;
                }
            }
        } 
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
        
    .billboard {
        .text-wrapper {
            h1 {
                padding: 40px;    
            }            
        }
    }   
}
