/** 
    _responsive.scss: responsiveness for the inofix-theme 

    Created:    2017-06-28 13:30 by Christian Berndt
    Modified:   2017-07-15 22:32 by Christian Berndt
    Version:    0.3.4
*/

@mixin keyvisual($billboard-color) {
    
    background-position: 0px 0px;
    background-image: linear-gradient(to bottom, 
        $billboard-color 0px,     
        $billboard-color 400px,  
        $color-white 400px,   
        $color-white 100% 
    ); 
    
    .keyvisual {

        .image-wrapper {
        
            background-image: none; 

        }            
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    .abstracts {
        p {
            margin-left: auto;
            margin-right: auto; 
            max-width: 400px;
        }
    }

    .billboard {
    
        .claim {
            h1 {
                font-size: 36px;           
            }
        }
    
        .col-md-6 {
            &.first {
                min-height: 300px;
            }
        }
        
        .container {
            width: 100%;
        }
        
        &.format-blowing {
        
            .keyvisual {
        
                .image-wrapper {
                    
                    margin-left: -15px;
                    margin-right: -15px;
                    padding-left: 15px;
                    padding-right: 15px;
                    text-align: center;
                        
                    text-align: center;
                    
                    img {
                        max-width: 600px;               
                    }  
                }            
            }     
        }
    }
    
    #footer {
    
        .col-sm-4 {
            &:nth-child(1) {
                padding-top: 30px; 
                text-align: left; 
            }
            &:nth-child(3) {
                padding-top: 30px; 
                text-align: right; 
            }
        }
        
        .portlet-navigation {
                
            margin-left: -22.5px; 
            margin-right: -22.5px;
            text-align: left;
        }
    }
        
    h1 {
        font-size: 36px; 
    }
    
    .logos {
    
        h1, h2, h3, h4 {
            margin-left: auto; 
            margin-right: auto;
            max-width: 600px; 
        }
        
        .logo {
            max-width: 100% ! important;
        }
        
        .logo-wrapper {
            min-height: 187.5px;
        }
        
        .logos-bar {
            margin-left: auto; 
            margin-right: auto;
            max-width: 660px;
        }
    }
    
    #navigation {
    
        .navbar-brand {
        
            padding-top: 12px; 
            padding-bottom: 12px;
            
            > img {
                display: inline-block;
                height: 50px;
                margin-right: 10px         
            }  
        }
        
        .navbar-nav {
        
            > li {
            
                margin-left: 0;
                margin-right: 0;
                border-bottom: none; 
            }
        } 
    }
    
    .portlet-contact-manager,
    .portlet-timetracker {
         
        .collapse-basic-search {
        
            .basic-search {
            
                margin-right: 47px;
                
                .form-control {
                    padding: 5px 12px;
                }
                
                input[type="text"] {
                    font-size: 16px;
                }
            }
        } 
    }
    
    .teaser {
        
        .text-wrapper {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) translateX(-50%);
            width: 600px;
            
            .btn {
                margin-top: 10px;
            }
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
 
    .billboard {
    
        .col-md-6 {
            &.first {
                min-height: 400px;
            }
        }
        
        .container {
            width: 970px;
        }
        
        &.format-blowing {
            
            background-position: 0px 0px;
            background-image: linear-gradient(to bottom, 
                $color-darkgray 0px,     
                $color-darkgray 300px,  
                $color-white 300px,   
                $color-white 100% 
            ); 
        
            padding-bottom: 60px;
        
            .keyvisual {

                .image-wrapper {
                
                    background-image: none; 
                                    
                    img {
                        max-width: 100%;               
                    }  
                }            
            }
            
            .row {
            
                position: relative; 
                
                .last {
                    position: absolute; 
                    right: 0; 
                    top: 220px;
                    z-index: 50;
                }
            }
            
            &.blue {
            
                @include keyvisual($color-blue);            
    
            }
            
            &.darkblue {
            
                @include keyvisual($color-darkblue);            
    
            }
            
            &.gray {
            
                @include keyvisual($color-gray);            
    
            }
            
            &.lightgray {
            
                @include keyvisual($color-lightgray);            
    
            }
            
            &.red {
            
                @include keyvisual(red);            
    
            }
        }
    }
    
    .logos {
    
        h4 {
            line-height: 130%;
            margin-left: auto; 
            margin-right: auto;
            max-width: 800px;
        }
        
        .logos-bar {
            max-width: 100%;
        }
    }
    
    #navigation {
    
        .btn-my-account {
        
            margin-bottom: 14px;
            margin-left: 15px;
            margin-top: 14px;
            padding-top: 12px !important; 
            padding-bottom: 12px !important;            
        }
    }
    
    .portlet-contact-manager,
    .portlet-timetracker {
    
        .btn-bottom-right {
            top: 8px;
        }
         
        .collapse-basic-search {
        
            .basic-search {
                
                input[type="text"] {
                    font-size: 14px;
                }
            }
        } 
    }
    
    .teaser {
    
        .col-md-6 {
            min-height: 450px;
        }
    
        .text-wrapper {
            width: 400px; 
        } 
            
        &.teaser-left {
        
            .col-md-6 {
                float: right;
            }
        }
    }  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
        
    .billboard {
    
        .container {
            width: 1170px;
        }
        
        &.format-blowing {
        
            padding-bottom: 100px;
                       
            .row {
                 
                .last {
                    top: 200px;
                }
            } 
        }
    }  
}
