/** 
    _responsive.scss: responsiveness for the inofix-theme 

    Created:    2017-06-28 13:30 by Christian Berndt
    Modified:   2017-07-06 16:13 by Christian Berndt
    Version:    0.2.0
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
    .abstracts {
        p {
            margin-left: auto;
            margin-right: auto; 
            max-width: 400px;
        }
    }

    .billboard {
        .claim {
            margin-right: auto;
            margin-left: auto;
            max-width: 600px;
        } 
        
        &.format-blowing {
        
            .keyvisual {
        
                .image-wrapper {
                
                    margin-left: -30px; 
                    margin-right: -30px; 
                    padding-left: 30px; 
                    padding-right: 30px;
                    text-align: center;
                    
                    img {
                        max-width: 600px;
                    }
                }            
            }     
        }
    }
    
    .logos {
    
        h1, h2, h3, h4 {
            margin-left: auto; 
            margin-right: auto;
            max-width: 600px; 
        }
        
        .logos-bar {
            margin-left: auto; 
            margin-right: auto;
            max-width: 660px;
        }
    }
    
    #navigation {
    
        .my-account {
            display: inline-block;
        }  
        
        .navbar-nav {
        
            > li {
            
                margin-left: 0;
                margin-right: 0;
                border-bottom: none; 
            }
        } 
    }
    
    .portlet-contact-manager,
    .portlet-timetracker {
         
        .collapse-basic-search {
        
            .basic-search {
            
                margin-right: 47px;
                
                .form-control {
                    padding: 5px 12px;
                }
                
                input[type="text"] {
                    font-size: 16px;
                }
            }
        } 
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
 
    .billboard {
    }
    
    .logos {
        h4 {
            line-height: 130%;
            margin-left: auto; 
            margin-right: auto;
            max-width: 600px;
        }
    }
    
    #navigation {
    
        .btn-my-account {
            margin-left: 15px;
        }
    }
    
    .portlet-contact-manager,
    .portlet-timetracker {
    
        .btn-bottom-right {
            top: 8px;
        }
         
        .collapse-basic-search {
        
            .basic-search {
                
                input[type="text"] {
                    font-size: 14px;
                }
            }
        } 
    }
    
    .teaser {
    
        .text-wrapper {
            max-width: 320px;
        }
            
        &.teaser-left {
        
            .left {
                float: right;
            }
            
            .right {
                float: right;
            }
        }
    }  
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
        
    .billboard {
    }
    
    .teaser {
        .text-wrapper {
            max-width: 400px;
        }
    }   
}
