/** 
    _templates.scss: css config of inofix templates

    Created:    2017-07-05 17:26 by Christian Berndt
    Modified:   2017-07-07 00:42 by Christian Berndt
    Version:    1.0.4
*/

@import "variables";

.abstracts {
    
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 70px;
    padding-top: 50px;
    text-align: center;
    
    .btn-lg {
        padding: 10px 20px;
    }
    
    .common-link {
        margin-top: 30px;
    }
    
    h1 {
        margin-bottom: 30px;
    }

    h3 {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.1em;
        margin-bottom: 30px;
        margin-top: 30px;
        text-transform: uppercase;
    }
    
    .icon-wrapper {
    
        background-color: #ccc;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 10px; 
        margin-top: 20px;

        .icon {
            display: table-cell;
            font-size: 50px;
            height: 100px;
            vertical-align: middle; 
            width: 100px;
        }
    }
    
    p {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 30px;
        text-align: left;
    }
    
    &.lightgray {
    
        background-color: $color-lightgray;
       
        .icon-wrapper {
            background-color: $color-darkgray;
        }
        
        .icon {
            color: white; 
        }
        
    }
    
    &.red {
    
        background-color: red;
        color: white;
        font-weight: 600;
        
        .btn-info {
            background-color: white;
            border-color: white;
            color: lighten($color-darkgray, 5%);          
            
            &:hover {
                color: darken($color-darkgray, 5%);   
                background-color: darken(white, 2.5%);                          
            }
        }
        
        .icon-wrapper {
            background-color: white;
        }
        
        .icon {
            color: lighten($color-darkgray, 5%); 
            
            &.icon-ok {
                color: lighten(green, 20%);
            }         
        }
    }
}

.billboard {
    
    background-color: $color-gray;
    
    margin-left: -15px;
    margin-right: -15px;
        
    .caption {
        padding: 10px 0;
        text-align: center; 
    }
     
    .claim {
   
        left: 15px;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    
        h1 {
            color: #fff;
            font-size: 36px; 
            font-weight: 600; 
            line-height: 130%;
            margin-bottom: 0; 
            margin-top: 0;
        }   
    }
    
    .col-md-6 {
        position: relative;
        
        &.first {
            min-height: 300px;
        }
    }    
    
    .text-only {    
        text-align: center;
    }
    
    &.blue {
        background-color: $color-blue;
    }
    
    &.darkblue {
        background-color: $color-darkblue;
    }
    
    &.darkgray {
    
        background-color: $color-darkgray;
        
        .caption {
            color: $color-darkgray;
        }
    }
      
    &.format-blowing {
    
        .keyvisual {
                    
            .image-wrapper {
            
                background-position: 0px 0px;
                background-image: linear-gradient(to bottom, 
                    $color-darkgray 0px,     
                    $color-darkgray 50%,  
                    $color-lightgray 50%,   
                    $color-lightgray 100% 
                );   
                
                margin-bottom: -1px;
                margin-left: -15px; 
                margin-right: -15px;
                padding-left: 15px; 
                padding-right: 15px;        
            }
            
        }
    }
    
    &.gray {
        background-color: $color-gray;
        color: $color-darkgray;
        
        .claim {
            h1 {
                color: $color-darkgray;            
            }
        }
    }
    
    &.red {
        background-color: red;
    }
}

.logos {
    
    background-color: $color-lightgray;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    
    h1 {
        margin-bottom: 30px;
    }
    
    h2 {
        line-height: 130%;
        margin-bottom: 30px;
    }
    
    h4 {
        line-height: 130%;
        margin-bottom: 20px;
    }

    .logo {
    
        filter: grayscale(100%);
        max-height: 170px;
        max-width: 320px ! important;
        opacity: 1;
        padding: 30px;
        vertical-align: middle;
        
        &:hover {
            opacity: 1;
            -webkit-filter: grayscale(0%);
            -webkit-transition: .3s ease-in-out;
            filter: url("data:image/svg+xml;utf8,<svgxmlns='http://www.w3.org/2000/svg'><filterid='grayscale'><feColorMatrixtype='matrix'values='0.33330.33330.3333000.33330.33330.3333000.33330.33330.33330000010'/></filter></svg>#grayscale");
            filter: grayscale(0%);
            -moz-transition: .3s ease-in-out;
            -o-filter: grayscale(0%);
            -o-transition: .3s ease-in-out;
        }
    }
    
    &.smaller-logos {
        .logo {
            max-height: 70px;
            max-width: 170px;
            padding: 20px;
        }
    }
}


.teaser {
    
    font-size: 16px;
    line-height: 150%;
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    
    .col-md-6 {
        min-height: 350px; 
        position: relative; 
    }
    
    h2 {
       line-height: 125%;
        margin-bottom: 20px;
    }
    
    h3 {
        font-size: 16px; 
        text-transform: uppercase;
    }
    
    .icon-wrapper {
    
        margin-bottom: 40px;
    
        .icon {
            font-size: 100px;
        }
    }
    
    .image-wrapper {
        left: 0; 
        position: absolute;
        right: 0; 
        top: 50%;
        transform: translateY(-50%);
    }
              
    .text-wrapper {
        margin: 0 auto;
        max-width: 400px;
        padding: 20px 0 30px;
        text-align: left; 
    }
    
    &.blue {
    
        background-color: $color-blue;
        color: white;
        
        .right {
            background-color: white;                    
            color: $color-darkgray;
        }
    }
    
    &.darkblue {
    
        background-color: $color-darkblue;
        color: white;
        
        .right {
            background-color: white;                    
            color: $color-darkgray;
        }
    }
    
    &.darkgray {
    
        background-color: $color-darkgray;
        color: white;
        
        .right {
            background-color: white;                    
            color: $color-darkgray;
        }
    }
    
    &.lightgray {
    
        background-color: $color-lightgray;
        color: $color-darkgray;
        
        .right {
            background-color: white;       
        }
    }
    
    &.red {
    
        background-color: red;
        color: white;
        
        .right {
            background-color: white;                    
            color: $color-darkgray;
        }
    }
}