/** 
    _templates.scss: css config of inofix templates

    Created:    2017-07-05 17:26 by Christian Berndt
    Modified:   2017-07-05 17:26 by Christian Berndt
    Version:    1.0.0
*/

/** Global settings */
$color-darkgray: #333;
$color-lightgray: #f2f2f2;

.abstracts {
    
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 70px;
    padding-top: 60px;
    text-align: center;
    
    .btn-lg {
        padding: 10px 20px;
    }
    
    .common-link {
        margin-top: 30px;
    }
    
    h1 {
        margin-bottom: 30px;
    }

    h3 {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.1em;
        margin-bottom: 30px;
        margin-top: 30px;
        text-transform: uppercase;
    }
    
    .icon-wrapper {
    
        background-color: #ccc;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 10px; 
        margin-top: 20px;

        .icon {
            display: table-cell;
            font-size: 50px;
            height: 100px;
            vertical-align: middle; 
            width: 100px;
        }
    }
    
    p {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 30px;
        text-align: left;
    }
    
    &.lightgray {
    
        background-color: $color-lightgray;
       
        .icon-wrapper {
            background-color: $color-darkgray;
        }
        
        .icon {
            color: white; 
        }
        
    }
    
    &.red {
    
        background-color: red;
        color: white;
        font-weight: 600;
        
        .btn-info {
            background-color: white;
            border-color: white;
            color: red;
            
            &:hover {
                background-color: darken(white, 5%);          
                color: darken(red, 5%);          
            }
        }
        
        .icon-wrapper {
            background-color: white;
        }
        
        .icon {
            color: darken(red, 5%);          
        }
    }
}


.billboard {
    
    margin-bottom: 60px;
    margin-left: -15px;
    margin-right: -15px;
     
    .caption-wrapper {
    
        background-color: $color-lightgray;
        
        .caption {
            margin-top: 11vh;
            padding-bottom: 5px;
            text-align: center;
        }
    }
    
    .claim {
   
        left: 15px;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
    
        h1 {
            color: #fff;
            font-size: 36px; 
            font-weight: 600; 
            line-height: 130%;
            margin-top: 0; 
            margin-bottom: 0; 
        }   
    }
    
    .image-wrapper {
    
        background-color: $color-darkgray;
        
        img {
            margin-bottom: -10vh;
        }
   
    }
    
    .text-only {    
        min-height: 50vh;
        text-align: center;
        position: relative;     
    }
    
    .text-wrapper {
        background-color: $color-darkgray;
        text-align: center;  
        
        .col-md-6 {
            min-height: 50vh;     
        }    
    }
}


.teaser {
    
    font-size: 16px;
    line-height: 150%;
    margin-left: -15px;
    margin-right: -15px;
    text-align: center;
    
    .col-md-6 {
        min-height: 50vh; 
        position: relative; 
    }
    
    h2 {
       line-height: 125%;
        margin-bottom: 20px;
    }
    
    h3 {
        font-size: 16px; 
        text-transform: uppercase;
    }
    
    .icon-wrapper {
    
        margin-bottom: 40px;
    
        .icon {
            font-size: 100px;
        }
    }
    
    .image-wrapper {
        left: 0; 
        position: absolute;
        right: 0; 
        top: 50%;
        transform: translateY(-50%);
    }
              
    .text-wrapper {
        margin: 0 auto;
        max-width: 400px;
        padding: 20px 0 30px;
        text-align: left; 
    }
    
    &.darkgray {
    
        background-color: $color-darkgray;
        color: white;
        
        .right {
            background-color: white;                    
            color: $color-darkgray;
        }
        
        &.teaser-left {
            .left {
                background-color: white;                    
                color: $color-darkgray;
            }
            .right {
                background-color: $color-darkgray;
                color: white;
            }
        }
    }
    
    &.lightgray {
    
        background-color: $color-lightgray;
        color: $color-darkgray;
        
        .right {
            background-color: white;       
        }
        
        &.teaser-left {
            .left {
                background-color: white;                    
            }
            .right {
                background-color: $color-lightgray;
            }
        }
    }
    
    &.red {
    
        background-color: red;
        color: white;
        
        .right {
            background-color: white;                    
            color: $color-darkgray;
        }
    }
}