/** 
    _variables.scss: common variables of the inofix-theme

    Created:    2017-07-05 23:33 by Christian Berndt
    Modified:   2017-07-05 23:33 by Christian Berndt
    Version:    1.0.0
*/

/** ------------- colors ------------- */

$color-darkgray: #333;
$color-lightgray: #F3F5F4;